@model IEnumerable<InAndOut.Models.Expense>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> My Expenses </h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Expense" asp-action="Create">Create new expense</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Expense</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr>
                        <td width="50%">@expense.Name</td>
                        <td width="50%">@expense.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Items created yet.</p>
    }
</div>